<!DOCTYPE html>
<html>
<head>
  <title>jbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
		<div class="navbar navbar-fixed-top">		
			<div class = "navbar-inner">
				<div class="container">
					<a href="#" class="brand">jbook</a>
					<ul class="nav">
						<li><%= link_to "All_statues", statuses_path %></li>
						<li></li>
						<li></li>
					</ul>
				</div>	
			</div>
		</div>
	
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
